{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Nom</th>
              
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
            
                <td>{{ patient.nom }}</td>
            
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('patient_delete', {'id': patient.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


     <h2>Création d'un patient<h2>
    {{ include('patient/_form.html.twig', {form:formPatient} ) }}
{% endblock %}
